# App config
**/appsettings.json
**/appsettings.*.json

# Ignore build outputs
bin/
obj/

**/Migrations/

# Ignore DLL files
*.dll

# Optional: ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates